body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(45deg, #00c6ff, #0072ff, #00f2fe, #0cebeb, #29ffc6);
    color: #333;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    padding-top: 10px;
}
h1 {
    text-align: center;
    margin-top: 10px;
    color: rgb(20, 11, 132);
    font-size: 2rem;
    font-weight: bold;
}
form {
    background-color: rgba(0, 0, 205, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 255, 1);
    max-width: 650px;
    width: 100%;
    margin: auto;
    border: 2px solid #0072ff;
}

fieldset {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    background-color: rgba(0, 162, 255, 0.1);
}

legend {
    font-size: 1.2rem;
    color: #a5cdff;
    padding: 0 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #a5cdff;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    background-color: #f0faff;
    color: #333;
    transition: border 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus {
    border-color: #0072ff;
    outline: none;
    box-shadow: 0 0 8px rgba(0, 114, 255, 0.4);
}

textarea {
    resize: vertical;
}

button {
    background-color: #0072ff;
    background: linear-gradient(45deg, #00c6ff, #0072ff);
    color: rgb(16, 12, 12);
    padding: 10px 20px;
    border: none;
    border-radius: 40px;
    font-size: 1.1rem;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
    text-transform: uppercase;
    transition: background 0.3s ease;
}

button:hover {
    background: linear-gradient(45deg, #0c83eb, #29ffc6);
}

#resumeOutput {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 2px solid #3498bd;
    border-radius: 8px;
    background-color: #0c83eb;
    box-shadow: 0 4px 12px rgba(0, 0, 255, 1);
}

#resumeOutput h2 {
    color: #2c3e50;
}

.profilePicture {
    display: block;
    margin: 0 auto;
    border: 2px salmon;
    box-shadow: 0 4px 8px seagreen;
    border-radius: 500%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}